.App {
  text-align: center;
}

h1{
  font-size: 35px;
  margin-top: 25px;
  margin-bottom: 20px;
}

button {
  margin: 0;
  padding: 11px;
  font-size: 23px;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
}

input{
  border: none;
  margin-right: 20px;
  padding: 15px;
  width: 270px;
  border-radius: 5px;
  font-size: 20px;
  height: 18px;
}

form{
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}